---
// src/components/astro/layout.astro
import Footer from '../react/ui/Footer.jsx';
import AppLayout from '../react/ui/AppLayout.jsx';
import '@/styles/global.css';

const { title, description } = Astro.props;
const pathname = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Meat-Machine</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <AppLayout client:load pathname={pathname}>
      <slot />
    </AppLayout>
  </body>
</html>